@import "./reset.scss";
@import "./common.scss";

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: $fixedWidth;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $red;

    h1 {
        padding-top: 150px;
        font-family: 'Oswald', sans-serif;
        font-size: 150px;
        align-self: center;
        letter-spacing: -5px;
    }

    .bottom {
        padding: 72px;
        font-family: 'East Sea Dokdo', cursive;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p {
        font-size: 30px;
        margin-bottom: 35px;
    }

    nav {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                font-size: 25px;
                margin-right: 10px;
                margin-bottom: 10px;
                color: black;
                opacity: 0.5;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }
}


main {
    margin-left: $fixedWidth;
    background-color: $red;

    .movie__movie {
        width: 100%;
        padding: 200px 170px 220px 170px;
        background-color: #e7473c;
        background-image: linear-gradient(180deg, #e7473c 0%, #901818 74%);

        .movie__column {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            position: relative;


            iframe {
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                height: 100%;
            }

            .movie__header {
                color: $white;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                h4 {
                    // position: absolute;
                    // left: 0;
                    // top: -20px;
                    font-size: 32px;
                    text-transform: uppercase;
                }

                h5 {
                    // position: absolute;
                    // right: 0;
                    // top: -20px;
                    letter-spacing: 2px;
                }
            }
        }

    }
}